@{
    ViewData["Title"] = "Home Page";
}

<br />
    <h3>Contenedores:</h3>
    @Html.Partial("Contenedores")
<br />
<hr />
<br />
    <h3>Grid:</h3>
    @Html.Partial("Grid")
<br />
<hr />
<br />
    <h3>Columnas:</h3>
    @Html.Partial("Columnas")
<br />
<hr />
<br />
    <h3>Gutters:</h3>
    @Html.Partial("Gutters")
<br />
<hr />
<br />
    <h3>Imagenes:</h3>
    @Html.Partial("Imagenes")
<br />
<hr />
<br />
    <h3>Colores:</h3>
    @Html.Partial("Colores")
<br />
<hr />
<br />
    <h3>Tablas:</h3>
    @Html.Partial("Tablas")
<br />
<hr />
<br />
    <h3>Manteniendo el Ratio de un Video:</h3>
    @Html.Partial("Ratio")
<br />
<hr />
<br />
    <h3>Tamaños:</h3>
    @Html.Partial("Tamaños")
<br />
<hr />
<br />
    <h3>Espacios:</h3>
    @Html.Partial("Espacios")
<br />
<hr />
<br />
    <h3>Texto:</h3>
    @Html.Partial("Texto")
<br />
<hr />
<br />
    <h3>Formularios:</h3>
    @Html.Partial("Formularios")
<br />
<hr />
<br />
    <h3>Acordeon:</h3>
    @Html.Partial("Acordeon")
<br />
<hr />
<br />
    <h3>Alertas:</h3>
    @Html.Partial("Alertas")
<br />
<hr />
<br />
    <h3>Carousel:</h3>
    @Html.Partial("Carousel")
<br />
<hr />
<br />
    <h3>Ventanas Modales:</h3>
    @Html.Partial("Modal")
<br />
<hr/>
<br />
    <h3>Tabs:</h3>
    @Html.Partial("Tabs")
<br />
<hr/>
<br />
    <h3>Menu lateral con OffCanvas:</h3> 
    @Html.Partial("Offcanvas")
<br />
<hr />
<br />
    <h3>Toast:</h3>
    @Html.Partial("Toast")
